# Miscellaneous
*.class
*.log
*.lock
*.tmp
*.pyc
*.swp
*.cache
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
build/
analysis_options.yaml

# Symbolication related
app.*.symbols
.app.dill

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/
**/android/local.properties
**/android/app/app.iml
**/android/local.properties
**/android/.idea/

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcworkspace/xcuserdata/
**/ios/Runner.xcworkspace/xcshareddata/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec/
**/ios/Flutter/FlutterPluginRegistrant/
**/ios/.symlinks/
**/ios/Generated.xcconfig
**/ios/.generated/

# MacOS related
**/macos/.symlinks/
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Flutter/Flutter.framework/
**/macos/Flutter/Flutter.podspec/
**/macos/FlutterPluginRegistrant/
**/macos/.flutter-plugins-dependencies

# Web related
**/web/.dart_tool/
**/web/flutter_build/
**/web/.flutter-plugins
**/web/.flutter-plugins-dependencies

# Windows related
**/windows/flutter/ephemeral/
**/windows/flutter/FlutterPluginRegistrant/
**/windows/.flutter-plugins
**/windows/.flutter-plugins-dependencies

# Linux related
**/linux/flutter/ephemeral/
**/linux/flutter/FlutterPluginRegistrant/
**/linux/.flutter-plugins
**/linux/.flutter-plugins-dependencies

# Generated files
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.swift